h2{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
	color: coral;  
}

*{
    background-color:blanchedalmond;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5 px;
    margin-top: 0.5cm;
    margin-right: 0.5cm;
    margin-left: 0.5cm;
    margin-bottom: 0.5cm;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position:sticky;
	top: 0;
	padding: 5px;;
	cursor:auto;
    margin-right: 0%;
}

.background {
	background:blanchedalmond;
	background-blend-mode:hard-light;
	background-size: cover;
    
}

.krknav-list {
	width: 80%;
	display: flex;
	align-items: center;
	gap: 10px;
	list-style: none;
    font-family:'Courier New', Courier, monospace;
    font-style:unset;
    font-weight: bold;
}

.krknav-list a{
    color:coral
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}