.perseverancia{
    background-image: url(../Imagenes/showcase.jpg);
    
}
p1{
    color: aliceblue;
}
h2{
    color:antiquewhite ;
}
p2{
    color: antiquewhite;
}
p3{
    color: antiquewhite;
}
.misiones{
background-image: url(../Imagenes/background-2.jpg);

}
.futuro{
background-image: url(../Imagenes/background-3.jpg);
}