body::after{
   content: "";
   background-image: url(./50e7dbb1953e4631967a40c1cf4fded3.png);
   opacity: 0.5;
   top:0;
   left:0;
   bottom:0;
   right:0;
   position:absolute;
   z-index: -1;
   background-size: cover;
}
